.character-list {
  &__nav {
    &__ul {
      list-style: none;
      padding: 0;

      &__listitem {
        cursor: pointer;
        font-size: 1.5em;
        color: #fff;

        &:hover {
          padding: 10px 0 10px 10px;

          font-size: 2em;
          color: #fff;
          text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
            0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073,
            0 0 70px #e60073;
        }
      }
    }
  }
}
