@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Space+Mono:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-image: url("../../assets/space.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main {
  display: grid;
  grid-template-columns: minmax(max-content, 300px) 1fr;
  grid-template-rows: auto;
}
