@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Space+Mono:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Space Mono", sans-serif;
}

html {
  max-height: 100vh;
  overflow: hidden;
}

body {
  max-height: 100vh;
  padding: 0;
  margin: 0;
  background-image: url("../../assets/space.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 330px 1fr;
      grid-template-columns: 330px 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.logo-section {
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50%;
      grid-template-columns: 50%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-section img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

footer {
  font-size: 0.8em;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
}

footer a {
  color: #ffc500;
}

.hide {
  display: none;
}

.character-list__nav__ul__listitem:hover, .character-list__nav__ul .active {
  padding: 10px 0 10px 10px;
  font-size: 1.5em;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #3de100, 0 0 40px #3de100, 0 0 50px #3de100, 0 0 60px #3de100, 0 0 70px #3de100;
  /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
    0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073; */
}

.character-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 5vh 3px 95vh;
      grid-template-rows: 5vh 3px 95vh;
}

.character-list__search-input {
  width: 100%;
  border-width: 0;
  border-color: rgba(255, 0, 0, 0.5);
  background: transparent;
  color: white;
  padding: 3px 3px 1px 3px;
  /*   14px 14px 27px -10px red, inset 14px -38px 21px -34px red */
}

.character-list__search-input::-webkit-input-placeholder {
  color: white;
}

.character-list__search-input:-ms-input-placeholder {
  color: white;
}

.character-list__search-input::-ms-input-placeholder {
  color: white;
}

.character-list__search-input::placeholder {
  color: white;
}

.character-list__search-input:focus {
  outline: none;
}

.character-list__laser {
  width: 100%;
  /*  background-color: red;
    box-shadow: 0px -7px 62px 22px rgba(255, 0, 0, 1); */
  border-radius: 25px;
  background: #df9797;
  -webkit-box-shadow: #f00 0px 0px 5px 1px;
          box-shadow: #f00 0px 0px 5px 1px;
  height: 3px;
}

.character-list__nav {
  overflow-y: scroll;
  scrollbar-width: none;
}

.character-list__nav::-webkit-scrollbar {
  display: none;
}

.character-list__nav__ul {
  list-style: none;
  padding: 0 0 0 10px;
}

.character-list__nav__ul__listitem {
  cursor: pointer;
  font-size: 1em;
  color: #fff;
}

.character-info {
  position: relative;
}

.character-info__article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  width: 80%;
  color: white;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.character-info__article .close-btn {
  position: absolute;
  z-index: 10;
  top: 5px;
  right: 5px;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 80px;
  margin: auto;
  background: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.character-info__article .close-btn:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.character-info__article .close-btn .sword {
  display: block;
  position: absolute;
  margin: auto;
  height: 3px;
  width: 100%;
  cursor: pointer;
  background: #df9797;
  border-radius: 5px;
  -webkit-box-shadow: #f00 0px 0px 5px 1px;
          box-shadow: #f00 0px 0px 5px 1px;
}

.character-info__article .close-btn .right {
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}

.character-info__article .close-btn .left {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.character-info__article__title {
  position: relative;
  grid-column: span 2;
  width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3vw;
  color: #ffc500;
}

.character-info__article__features, .character-info__article__birth-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.character-info__article ul {
  list-style: none;
  padding: 0;
}

.character-info__article__films {
  grid-column: span 2;
}

.character-info__article__films__title {
  width: 100%;
  text-align: center;
}

.character-info__article__films__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
}

.character-info__article__films__wrapper__film {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  min-width: 16%;
  max-width: 20%;
  padding: 5px 5px;
  margin: 0 5px;
  border: 2px solid #ffc500;
  color: white;
}

.character-info__article__films__wrapper__film div {
  /*    max-height: 300px; */
}

.character-info__article__films__wrapper__film img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.character-info__article__films__wrapper__film .episode {
  font-size: 0.7em;
  font-weight: bold;
  margin: 5px 0 0 0;
}

.character-info__article__films__wrapper__film .title {
  font-size: 0.8em;
  margin: 5px 0 0 0;
}
/*# sourceMappingURL=style.css.map */